glob2
h5py
imageio
lmdb
numba
numpy
numpydoc
pandas
pathlib2
pdbpp
pep8
Pillow
pkginfo
protobuf
protobuf3-to-dict
PyYAML==5.1
requests
requests-kerberos
requests-oauthlib
retrying
rope
rsa
ruamel-yaml
scikit-image
scikit-learn
scipy
seaborn
Sphinx
sphinxcontrib-websupport
tensorboard
tensorboard-plugin-wit
torch
torchvision
tornado
tqdm
typing
unicodecsv
urllib3
xlrd
XlsxWriter
xlwt
zict
zipp
